{% extends 'base.html' %}
{% block title %}Note List{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-3 mb-3 text-center">Note List</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <th scope="row">{{ note.id }}</th>
                    <td>{{ note.title }}</td>
                    <td>{{ note.description }}</td>
                    <td>
                        <div>
                            <a href="{% url 'view_note' id=note.id %}">
                                <button class="btn btn-primary">View</button>
                            </a>
                            <a href="{% url 'edit_note' id=note.id %}">
                                <button class="btn btn-primary">Edit</button>
                            </a>
                            <a href="{% url 'delete_note' id=note.id %}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}